.profile-nav {
}
.profile-nav .card .card-header {
  background: #fbc02d;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 30px;
  text-align: center;
}
.profile-nav .card .card-header img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.profile-nav .card-body .card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile-nav .card-body p {
  font-size: 12px;
}

.profile-info .card-header {
  background: #fbc02d;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}
.profile-info .card-body p {
  padding: 10px 0;
}

.profile-info .card-body p span {
  font-weight: bold;
}

/* ******************************
pagination css
*********/
.pagination{
  border-top: none!important;
  margin-top: 0!important;
}
#pagination .page-numbers {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.pagination .page-numbers,#pagination .page-numbers  li .page-numbers{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}
.pagination li:first-child a {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination li:last-child a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination .page-numbers.current ,#pagination .page-numbers  li .page-numbers.current{
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}


/* *********************
member directory css 
*************************/
form#MemberSearchForm {
  margin-bottom: 20px;
}
#MemberSearchForm .input-group{
  display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
}
#MemberSearchForm .input-group .form-outline{
  flex-grow: 1;
  min-width: 3em;

}
#MemberSearchForm .input-group .form-outline  input{
  color: #28303d;
  line-height: 1.7;
  max-width: inherit;
  margin-right: calc(-1 * 3px);
  padding: calc(0.5 * 20px);
}
#MemberSearchForm .input-group .search-btn{
  line-height: 1;
  padding: 0.375rem 0.75rem;
}