div#cooalliance_account {
    max-width: 1170px;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
}
.member-profile{
    background: #F1F3FA;
  }
  /* .profile-info {
    margin: 20px 0;

  } */
  .profile-content tr td:first-child {
    font-weight: 500;
    line-height: 35px;
    font-size: 17px;
  }
  .profile-sidebar {
    padding: 20px 0 10px 0;
    /* background: #fff; */
  }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
/* Profile sidebar */



.profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }

  .profile-usertitle-name {
    /* color: #5a7391; */
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }

  .profile-usermenu {
    margin-top: 30px;
  }
  div#cooalliance_account ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  div#cooalliance_account ul a{
    text-decoration: none;
  }
  .profile-userpic {
    max-width: 90px;
    width: 100%;
  }
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }

  .profile-usermenu ul li a {
    color:  #3b60c9;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0;
  }

  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }

  .profile-usermenu ul li.active {
    border-bottom: none;
  }

  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    margin-left: 0;
    font-size: 1rem;
  }

  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
#cooalliance_account input[type=text],
#cooalliance_account input[type=email],
#cooalliance_account input[type=url],
#cooalliance_account input[type=password],
#cooalliance_account input[type=search],
#cooalliance_account input[type=number],
#cooalliance_account input[type=tel],
#cooalliance_account input[type=date],
#cooalliance_account input[type=month],
#cooalliance_account input[type=week],
#cooalliance_account input[type=time],
#cooalliance_account input[type=datetime],
#cooalliance_account input[type=datetime-local],
#cooalliance_account input[type=color],
#cooalliance_account .site textarea{
  border: 1px solid #ced4da;
}

.profile-content table td,
.user_resourse_table table td,
.resources_archive_list_table table td,
.joined_events_table table td{
    border-color: #dee2e6;
}
.user_resourse_table .table>:not(:first-child),
.resources_archive_list_table .table>:not(:first-child),
.joined_events_table .table>:not(:first-child) {
    /* border-top: 1px solid #dee2e6; */
    border-color: #dee2e6;
}
.user_resourse_table .table-bordered>:not(caption)>*>*,
.resources_archive_list_table .table-bordered>:not(caption)>*>*,
.joined_events_table .table-bordered>:not(caption)>*>* {
    border-width: 1px;
    border-color: #dee2e6;
}
.user_resourse_table,
.joined_events_table  {
    background: #fff;
    padding: 15px;
}
div#message.updated {
    background: #28a745;
    color: #fff;
    padding: 0 10px;
    margin: 20px 0 0 0!important;
}

.acf-form{
  margin-top: 20px!important;
}
.acf-field input[type=text], .acf-field input[type=password], .acf-field input[type=date], .acf-field input[type=datetime], .acf-field input[type=datetime-local], .acf-field input[type=email], .acf-field input[type=month], .acf-field input[type=number], .acf-field input[type=search], .acf-field input[type=tel], .acf-field input[type=time], .acf-field input[type=url], .acf-field input[type=week], .acf-field textarea, .acf-field select{
  border: 1px solid #ced4da;
}
.acf-form-submit{
  padding: 0px 15px;
}
.acf-form-submit .acf-button{
  background-color: #28a745!important;
  color: #fff!important;
}
body.post-type-archive-resources{
  background: #fff;
}
.resources_archive_list_table{}
